<div class="research-block">
	<img src="/img/{{header-img}}" alt="">
	<div class="case-content">
		<img src="/img/{{user-img}}" alt="">
		<blockquote><p>“{{blockquote}}”</p></blockquote>
		<cite>{{cite}}</cite>

		<h3>{{heading}}</h3>
		<p>{{content}}</p>
		<h3>User Needs</h3>
		<ul>
			{{#each needs}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
</div>
