<div class="research-block wow animated fadeIn">
	<img src="{{header-img}}" alt="">
	<div class="case-content">
		<img class="float-left" src="{{user-img}}" alt="">
		<div class="research-block-content">
			<blockquote><p class="big">“{{blockquote}}”</p></blockquote>
			<cite>{{{cite}}}</cite>
			<div class="research-block-sub-content">
				<h3 class="h3">{{heading}}</h3>
				<p>{{content}}</p>
				<h3 class="h3">User Needs</h3>
				<ul>
					{{#each needs}}
					<li>{{this}}</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
