---
title: OneGo
layout: default.hbs
imgpath: "/img/onego"
bodyClass: "onego"
---

<main class="animated fadeIn">

	<section class="wow animated fadeInUpSmall" data-wow-delay="0.25s">

		<div class="container">
			<div class="row flex-items-sm-around">
				<div class="col-md-12 col-lg-10 col-xl-8">
					<div class="case-intro">
						<h1 class="h1">ONEGO</h1>
						<p class="shove-60">OneGo is a startup that offers unlimited flights for a monthly subscription. They had just rebranded with a beautiful new style guide, but needed to make sure that the functional aspects of the site were up to par. I redesigned the most interaction-heavy parts of the website, while interpreting their new branding in a playful way.</p>

						<div class="row flex-items-sm-around">
							<div class="col-sm-5">
								<h3 class="h3">Role</h3>
								<p>UX, Visual, Copy</p>
							</div>
							<div class="col-sm-5">
								<h3 class="h3">Art Direction</h3>
								<p>Katie Chin</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<img class="push-100 shove-60" src="{{imgpath}}/onego-7.png" alt="">

			{{#parseJSON '{
					"title": "CEOS, CONSULTANTS AND BUSINESS DEVELOPMENT MANAGERS",
					"content" : "OneGo’s users are highly educated, time-strapped professionals who need to quickly know whether subscription-based flying is for them. I\'ve helped them make that decision in a couple of ways."
				}'}}
					{{>sub-section-header}}
			{{/parseJSON}}

			<div class="row flex-items-sm-around">
				<div class="profile-img col-md-12 col-xl-10">
					<img class="wow animated fadeInUpSmall" src="{{imgpath}}/profile-1.png" alt="">
					<img class="wow animated fadeInUpSmall" src="{{imgpath}}/profile-2.png" alt="">
					<img class="wow animated fadeInUpSmall" src="{{imgpath}}/profile-3.png" alt="">
					<img class="wow animated fadeInUpSmall" src="{{imgpath}}/profile-4.png" alt="">
					<img class="wow animated fadeInUpSmall" src="{{imgpath}}/profile-5.png" alt="">
					<img class="wow animated fadeInUpSmall" src="{{imgpath}}/profile-6.png" alt="">
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="case-content">
				{{#parseJSON '{
					"number": 1,
					"title": "IMPROVED INFORMATION ARCHITECTURE",
					"content" : "On the old site, information was spread over too many pages, so I restructured the site so that users can quickly understand what subscription-based flying is, choose a flight plan, and sign up."
				}'}}
					{{>case-section-header}}
				{{/parseJSON}}
			</div>

			<h3 class="h3 text-center shove-30 grey-seven wow animated fadeInUpSmall">OLD NAVIGATION</h3>
			<p class="text-center shove-110 wow animated fadeInUpSmall"><img src="{{imgpath}}/old-primary-nav.png" alt=""></p>
			<h3 class="h3 text-center shove-30 grey-seven wow animated fadeInUpSmall">NEW NAVIGATION</h3>

			<div class="row flex-items-sm-around">
				<div class="col-xs-12 col-sm-4 col-lg">
					<span class="new-nav-item wow animated fadeInUpSmall">Home</span>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg">
					<span class="new-nav-item wow animated fadeInUpSmall">Where we fly</span>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg">
					<span class="new-nav-item wow animated fadeInUpSmall">FAQ</span>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg">
					<span class="new-nav-item wow animated fadeInUpSmall">Contact Us</span>
				</div>
				<div class="col-xs-12 col-sm-4 col-lg">
					<span class="new-nav-item wow animated fadeInUpSmall">Sign Up</span>
				</div>
			</div>

			{{#parseJSON '{
					"title": "HOMEPAGE USER EXPERIENCE",
					"content" : "Based on this new architecture, I restructured the homepage to answer the most common questions about OneGo: what is it, how does it work, where can I fly, who has vouched for it, and why OneGO."
				}'}}
					{{>sub-section-header}}
			{{/parseJSON}}


			<img src="{{imgpath}}/user-experience.jpg" class="wow animated fadeInUpSmall" alt="">

			{{#parseJSON '{
					"title": "HOMEPAGE DESIGN",
					"content" : "In the end, the new homepage is optimistic, focused and approachable for the user. Perfect for busy travellers on the go."
				}'}}
					{{>sub-section-header}}
			{{/parseJSON}}

			<img src="{{imgpath}}/homepage-v-7.jpg" class="wow animated fadeInUpSmall" alt="">
		</div>
	<section>
		<div class="container">
			<div class="case-content">
				{{#parseJSON '{
					"number": 2,
					"title": "EASY PLAN PERSONALISATION",
					"content" : "To assuage the busy professional’s concerns about pricing and flight route, I created an interactive guide that would recommend a plan based on the user’s home airport, and then initiate sign up based on that plan."
				}'}}
					{{>case-section-header}}
				{{/parseJSON}}
			</div>


			<img src="{{imgpath}}/pricing-v-5-b.jpg" class="case-img wow animated fadeInUpSmall" alt="">

			<img src="{{imgpath}}/pricing-v-5-c.jpg" class="wow animated fadeInUpSmall" alt="">
		</div>
	</section>
	<section class="pad-b-160">
		<div class="container">

			<div class="case-content">
				{{#parseJSON '{
						"number": 3,
						"title": "LOW FRICTION SIGN UP",
						"content" : "Last but not least, people arrive on the purchase page because they\'re excited about OneGo and ready to buy a subscription, but the challenge is they also need to create an account at OneGo. I simplified both flows into one via a three-fold layout with dynamic confirmation that updates in real time."
					}'}}
						{{>case-section-header}}
				{{/parseJSON}}
			</div>
			<img src="{{imgpath}}/onego-2.jpg" alt="">
		</div>
	</section>

	<section class="next-project wow animated fadeIn">
		<a href="/case-study/medicrea.html">&mdash;Next Project&mdash;</a>
	</section>

</main>
