---
title: Medicrea
layout: default.hbs
imgpath: "/img/medicrea"
bodyClass: "medicrea"
---

<main class="animated fadeIn">

	<section class="wow animated fadeInUpSmall nav-links-padding" data-wow-delay="0.25s">

		<div class="container">
			<div class="row flex-items-sm-around">
				<div class="col-md-12 col-lg-10 col-xl-8">
					<div class="case-intro">
						<h1 class="h1 ">MEDICREA</h1>
						<p class="shove-60">Medicrea is a ground breaking medical company that specialises in customsed spinal surgery. They sell spinal rods customised to each patient that needs spinal surgery. I was brought on because they want to create a single full-service platform that helps surgeons plan their surgeries, order products, and conduct post-operative analysis.</p>

						<div class="row flex-items-sm-around">
							<div class="col-sm-5">
								<h3 class="h3">Role</h3>
								<p>UX, UI, Branding, Copy, QA</p>
							</div>
							<div class="col-sm-5">
								<h3 class="h3">Product Manager</h3>
								<p>Michael Texeira</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<img class="push-60 push-md-150" src="{{imgpath}}/medicrea-1-b.png" alt="">
		</div>
	</section>

	<section class="pull-120 pad-b-130 blue nav-links-padding">

		<div class="container">
			<div class="case-content">
				{{#parseJSON '{
					"number": 1,
					"title": "Research Phase",
					"content" : "Our main two groups of users are the surgeons and the Medicrea lab team. To gain an understanding of each user, we conducted multiple user interviews and contextual inquiries, and gathered data about surgeons. Then based on this research, I created personas and then mapped out the primary user flows."
				}'}}
					{{>case-section-header}}
				{{/parseJSON}}
			</div>


			{{#parseJSON '{
				"header-img" : "/img/medicrea/surgeon-image.jpg",
				"user-img" : "/img/medicrea/chief-v-p-of-product-develoment-photo.png",
				"blockquote" : "The surgeon is the impetus for the order, driving the initial strategy for the surgery and approving the final order for the spinal rod. Also at any point, he/she can cancel the case.",
				"cite" : "<div>USER INTERVIEW WITH</div><div> CHIEF VP OF PRODUCT DEVELOPMENT</div>",
				"heading" : "Primary User: The Surgeon",
				"content" : "Gene is a senior spinal surgeon at White Plains Hospital, whose primary goal is patient and personal satisfaction in his surgeries. He’s interested in the cutting edge technology that Medicrea offers for his patient, but as he\'s busy, he doesn\'t have a lot of time to learn unintuitive software or manually enter repetitive data when he’s planning his surgery strategy and ordering his product.",
				"needs" : [
					"To quickly see his most urgent tasks",
					"To easily input initial surgery plan and pre-op photos in a new case",
					"To give feedback and/or approve a recommendation",
					"To visit a single platform for all communication"
				]
			}'}}
				{{>research-block}}
			{{/parseJSON}}


			{{#parseJSON '{
				"header-img" : "/img/medicrea/lab-team-photo.jpg",
				"user-img" : "/img/medicrea/us-product-specialist-photo.png",
				"blockquote" : "As the surgeon is busy, the lab team essentially acts as a project manager, tracking down info and moving the case along. We also translate the surgeon\'s surgery strategy into the customised product.",
				"cite" : "<div>USER INTERVIEW WITH </div><div>US PRODUCT SPECIALIST</div>",
				"heading" : "Secondary User: The Lab Product Specialist",
				"content" : "Daniela Jones is a product specialist on the Medicrea US Lab team who handles US orders. She is responsible for liaising with the surgeon and ensuring accurate and timely construction of the customised spinal rod. However most time-intensive part of her job is following up with the medical staff on filling out the required fields. Because the software is not intuitive, workarounds are necessary.",
				"needs" : [
					"To quickly see her most urgent tasks",
					"To automatically pull medical information from various touchpoints",
					"To easily create, share, and edit surgery recommendations",
					"To visit a single platform for all communication"
				]
			}'}}
				{{>research-block}}
			{{/parseJSON}}



			<img class="wow animated fadeIn" src="{{imgpath}}/userflow.jpg" alt="">
		</div>
	</section>

	<section class="nav-links-padding">
		<div class="container">
			<div class="case-content">
				{{#parseJSON '{
					"number": 2,
					"title": "Branding Phase",
					"content" : "Traditionally, Medicrea had focused on a marketing & sales type of relationship with surgeons and hospitals. As the UNiD platform was their first foreway into providing a service, this was an exciting opportunity to create a fresh identity from ground up."
				}'}}
					{{>case-section-header}}
				{{/parseJSON}}
			</div>
			<div class="medicrea-branding">
				<div class="row flex-items-md-center">
					<div class="col-md-7 pad-r-40">
						<h3 class="h3 wow animated fadeIn">MEDICREA EMBODIES</h3>
						<img src="{{imgpath}}/medicrea-embodies.jpg" class="shove-80 wow animated fadeInLeftSmall" alt="">
						<h3 class="h3 wow animated fadeIn">FRIENDLY TYPEFACE</h3>
						<img src="{{imgpath}}/group-17.png" class="shove-80 wow animated fadeInLeftSmall" alt="">

						<h3 class="h3 wow animated fadeIn">ICONOGRAPHY</h3>
						<img src="{{imgpath}}/icons.png" class="wow animated fadeInLeftSmall" alt="">
					</div>
					<div class="col-md-4 color-palette">
						<h3 class="h3 wow animated fadeIn">APPROACHABLE PALETTE</h3>
						<div class="row push-md-60">
							<div class="col-xs col-sm col-md-12">
								<span class="wow animated fadeInRight palette" style="background-color:#0594c2;"></span>
								<p class="wow animated fadeInRightSmall palette-label">Patient Blue</p>
							</div>
							<div class="col-xs col-sm col-md-12">
								<span class="wow animated fadeInRight palette" style="background-color:#e4f4fa;"></span>
								<p class="wow animated fadeInRightSmall palette-label">Ice Blue</p>
							</div>
							<div class="col-xs col-sm col-md-12">
								<span class="wow animated fadeInRight palette" style="background-color:#4bbccb;"></span>
								<p class="wow animated fadeInRightSmall palette-label">Surgeon Teal</p>
							</div>
							<div class="col-xs col-sm col-md-12">
								<span class="wow animated fadeInRight palette" style="background-color:#143658;"></span>
								<p class="wow animated fadeInRightSmall palette-label">Evening Blue</p>
							</div>
							<div class="col-xs col-sm col-md-12">
								<span class="wow animated fadeInRight palette" style="background-color:#e10f21;"></span>
								<p class="wow animated fadeInRightSmall palette-label">Medicrea Red</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>

		<div class="nav-links-padding">
			<div class="container">
				<div class="case-content">
					{{#parseJSON '{
						"number": 3,
						"title": "Design Phase",
						"content" : "Next, the new branding and user-centric strategy had to be applied to every page, which mean this next phase took the longest. On each page, I designed for each user, refining all actions to allow them to successfully meet their goals."
					}'}}
						{{>case-section-header}}
					{{/parseJSON}}
				</div>
				<img class="wow animated fadeInUpSmall" src="{{imgpath}}/group-9.png" alt="">
			</div>
		</div>


		<div class="pull-140 pad-b-130 blue nav-links-padding">

			<div class="container">

				{{#parseJSON '{
					"title": "Good Morning! Here are your To-Dos today",
					"content" : "The Dashboard shows your most urgent tasks today and a preview of what’s ahead. All the ways a surgeon or lab member would want to slice or dice their list of open cases, the Dashboard has a shortcut for it."
				}'}}
					{{>sub-section-header}}
				{{/parseJSON}}

				<img class="wow aninmated fadeInUpSmall" src="{{imgpath}}/dashboard-v-12.jpg" alt="">

				{{#parseJSON '{
					"title": "FINDING ONE CASE OUT OF HUNDREDS",
					"content" : "The goal of Cases is for users to find the specific case memo they needed. I focus on users filtering by status or timing, sorting the results, and viewing the results either as cards or a list."
				}'}}
					{{>sub-section-header}}
				{{/parseJSON}}

				<img class="case-img wow animated fadeInUpSmall" src="{{imgpath}}/cases-v-5-b-card.jpg" alt="">

				<div class="row">
					<div class="col-xs-12 col-md">
						<img class="case-img wow animated fadeInUpSmall" src="{{imgpath}}/cases-v-5-b-card-hover-card.jpg" alt="">
					</div>
					<div class="col-xs-12 col-md">
						<img class="case-img wow animated fadeInUpSmall" src="{{imgpath}}/medicrea-5-b.jpg" alt="">
					</div>
				</div>
				<img class="wow animated fadeInUpSmall" src="{{imgpath}}/cases-v-5-b.jpg" alt="">

				{{#parseJSON '{
					"title": "FORMS, FORMS, FORMS",
					"content" : "A large part of this platform are form fields. Most designers don’t find this sexy… but I do in a nerdy way. How can I make input fields cute and easy<br> to use?"
				}'}}
					{{>sub-section-header}}
				{{/parseJSON}}

				<div class="row">
					<div class="col-xs-12 col-md">
						<img class="case-img wow animated fadeInUpSmall" src="{{imgpath}}/create-an-account-v-5.jpg" alt="">
						<img class="case-img wow animated fadeInUpSmall" src="{{imgpath}}/search-v-2-in-progress.jpg" alt="">
					</div>
					<div class="col-xs-12 col-md">
						<img class="case-img wow animated fadeInUpSmall" src="{{imgpath}}/sign-in-v-6.jpg" alt="">
						<img class="case-img wow animated fadeInUpSmall" src="{{imgpath}}/add-a-new-case-v-11-uploaded-photo.jpg" alt="">
					</div>
				</div>

				{{#parseJSON '{
					"title": "THE HARDEST WORKING PAGE",
					"content" : "The Case Memo needs to show the case’s current status, past activity, next step, surgeon’s brief, lab’s proposed plan, post-operative analysis, and allow feedback between the surgeon &amp; lab specialist."
				}'}}
					{{>sub-section-header}}
				{{/parseJSON}}

				<img class="case-img wow animated fadeInUpSmall" src="{{imgpath}}/surgeon-screen-v-5-new-case.jpg" alt="">
				<img class="case-img wow animated fadeInUpSmall" src="{{imgpath}}/surgeon-screen-v-5-share-plan-hover.jpg" alt="">
				<img class="wow animated fadeInUpSmall" src="{{imgpath}}/surgeon-screen-v-5-post-op.jpg" alt="">
			</div>
		</div>
	</section>

	<section class="nav-links-padding">
		<div class="container">
			<div class="case-content">
				{{#parseJSON '{
					"number": 4,
					"title": "Development Phase",
					"content" : "During the design phase, I worked very closely with the development team in France, using Slack for communication, InVision for prototyping, and Zeplin for asset hand off, to make sure everything was seamless for them. Now, during the development phase, I’m QAing as the developers are finishing. Stay tuned for the launch in the fall!"
				}'}}
					{{>case-section-header}}
				{{/parseJSON}}
			</div>
		</div>
	</section>

	<section class="next-project wow animated fadeIn">
		<a href="/case-study/onego/">&mdash;Next Project&mdash;</a>
	</section>
</main>
